.cart-container {
  display: flex;
  justify-content: flex-end;

  background-color: rebeccapurple;
  width: 90%;
  padding: 20px;
}

.cart-button {
  border: none;
  border-radius: 50px;
  padding: 10px 15px;
  cursor: pointer;
}

.cart-button:hover {
  background-color: #a7d2cb;
}

.open-cart-container {
  background-color: red;
  padding: 15px;
}

.header-cart {
  font-weight: 500;
  font-size: 15px;
}
