.cart-container {
  display: flex;
  justify-content: flex-end;
  background-color: rebeccapurple;
  width: 90%;
  padding: 20px;
}

.button-cart-container {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  padding: 5px;
}

.cart-button {
  border: none;
  background-color: aliceblue;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-button:hover {
  background-color: #a7d2cb;
}

.products-length-container {
  background-color: #fb3939;
  height: 20px;
  width: 20px;
  top: 0;
  right: 0;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  position: absolute;
}

.open-cart-container {
  background-color: #edceea;
  position: absolute;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 10px;
  width: 400px;
  padding: 25px;
  color: #000;
}

.header-cart {
  font-weight: 600;
  font-size: 16px;
}

.cart-empty {
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.total-shopping-cart-text {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  padding: 10px;
  font-size: 17px;
  font-weight: 600;
}

.separator {
  border-top: 1px solid rgb(46, 46, 46);
}
