.item-cart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 8px 0;
  width: 100%;
  margin: 15px 0;
}

.item-cart-image {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.information-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 3;
  flex-wrap: wrap;
  width: 40%;
}

.item-cart-name {
  font-size: 14px;
  margin: 0 8px 0 8px;
  padding: 0 8px 8px 8px;
  font-weight: 600;
}

.item-cart-price {
  font-size: 12px;
  margin-left: 8px;
  padding-left: 8px;
}

.buttons-container {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.button {
  width: 22px;
  height: 22px;
  font-size: 14px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin: 0 5px;
  background-color: #b4a5a5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: #393e46;
  color: #fff;
}

.amount-text {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.price-increased-container {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
